// {
//     "presets": ["@babel/env", "@babel/react"]
//     ,"plugins": [
//       "@babel/plugin-transform-async-to-generator",
//       ["@babel/plugin-transform-runtime", {
//         "corejs": 3,
//         "regenerator": true
//       }]
//     ]
//   }



  {
    "presets": ["@babel/preset-env", "@babel/preset-react"]
  }